body {
  background-color: lightblue;
}
.color {
  color: darkred;
}
.align {
  text-align: center;
}
.border {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  background-color: red;
  border-style: solid;
}
.color_in_div {
  color: white;
}
h1 {
  font-family: "Georgia";
}
h2 {
  font-family: "Verdana";
}
h3 {
  font-family: "Arial"
}
.input_text_align {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}
.input_button_align {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 150px;
}
span {
  display: none;
  position: relative;
}
.div_span_align {
  text-align: center;
}
